.game {
    margin: 0;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameSquare {
    width:  20vmin;
    height: 20vmin;
    background-color: #b9b9b9;
}

.gameText {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
